In [1]:
tuple=(1,57,"hi","$",7)

In [2]:
tuple

(1, 57, 'hi', '$', 7)

In [3]:
print(tuple)

(1, 57, 'hi', '$', 7)

In [4]:
t=(1,2,3,4,5,6,)

In [5]:
t[:len(t)]

(1, 2, 3, 4, 5, 6)

In [6]:
list=[1,2,33]

In [7]:
list[2]=44

In [1]:
tuple=(1,2,3)

In [9]:
tuple=(1,2,3)

In [10]:
del tuple

In [11]:
tuple

tuple

In [17]:
tuple=(1,2,3,45,89,5.86,)

In [18]:
max(tuple)

89

In [19]:
min(tuple)

1

In [20]:
sorted(tuple)

[1, 2, 3, 5.86, 45, 89]

In [21]:
t=("mma","mmb","ka","zb")

In [22]:
max(t)

'zb'

In [23]:
min(t)

'ka'

In [24]:
sorted(t)

['ka', 'mma', 'mmb', 'zb']

In [25]:
tuple=(1,1,1,1,)

In [26]:
tuple

(1, 1, 1, 1)

In [27]:
tuple=(2,2,2,2)

In [28]:
list=[2,2,2,2]

In [29]:
list

[2, 2, 2, 2]

In [30]:
set={1,2,3,4}

In [31]:
set

{1, 2, 3, 4}

In [32]:
set={1,1,2,2,2,3,3,3,3}

In [33]:
set

{1, 2, 3}

In [34]:
set={11,22,33,44,55}

In [35]:
set

{11, 22, 33, 44, 55}

In [3]:
set=[3]

In [37]:
for each in set:
        print(each)

33
11
44
22
55

In [2]:
set={1,2,3,4,5}